import { describe, it } from "@std/testing/bdd";
import { expect } from "@std/expect";
import { part1, part2 } from './day__DAY__.ts';

const input = ``;

describe('day __DAY__, part 1', () => {
  it('should work with test input', () => {
    expect(part1(input)).toBe(null);
  });
});

describe('day __DAY__, part 2', () => {
  it('should work with test input', () => {
    expect(part2(input)).toBe(null);
  });
});